.cartTotalBlock {
  li {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
  }

  div {
    flex: 1;
    height: 1px;
    border-bottom: 1px dashed #dfdfdf;
    position: relative;
    top: -4px;
    margin: 0 10px;
  }
}

.items {
  display: flex;
  flex-direction: column;
  //position: relative;
  
  .buttonOrder {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background: #9dd558;
    border-radius: 18px;
    border: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.4s ease-in-out;

    .arrow {
      margin-left: 10px;
      transition: 0.4s ease-in-out;
    }

    &:hover {
      background: lighten(#9dd558, 5%);

      .arrow {
        transform: translateX(100px);
        transition: 0.4s ease-in-out;
      }
    }

    &:active {
      background: lighten(#73a437, 5%);
    }
  }
}
