body {
  margin: 0;
  font-family: "Inter", system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}

button,
input {
  font-family: "Inter", system-ui;
}

.clear {
  * {
    box-sizing: border-box;
    outline: none;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
    cursor: pointer;
  }
}

.wrapper {
  background: #ffffff;
  box-shadow: 0 10 20 rgba 0, 0, 0, 0.24;
  border-radius: 20px;
  max-width: 75%;
  margin: 3rem auto;
  padding: 40px;
}

.content {
  padding: 40px 0px 40px 0px;
}

@media all and (min-width: 2080px) {
  .wrapper {
    width: 1000px;
    height: 1300px;
  }
}

.sneakers {
  animation: smoothOpenBlock 0.4s forwards;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@keyframes smoothOpenBlock {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

