body {
  margin: 0;
  font-family: "Inter", system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}

button,
input {
  font-family: "Inter", system-ui;
}

.clear {
  * {
    box-sizing: border-box;
    outline: none;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
    cursor: pointer;
  }
}

.wrapper {
  background: #ffffff;
  box-shadow: 0 10 20 rgba 0, 0, 0, 0.24;
  border-radius: 20px;
  max-width: 75%;
  margin: 3rem auto;
  padding: 40px;
}

.content {
  padding: 40px 0px 40px 0px;
}

.sneakers {
  animation: smoothOpenBlock 0.4s forwards;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (min-width: 2000px) { 
  .wrapper {
    background: #ffffff;
    border-radius: 30px;
    max-width: 45%;
    margin: 6rem auto;
    padding: 80px;
  }
}

@media only screen and (max-width: 670px) {
  header {
    .headerLeft {
      h3 {
        font-size: 15px;
      }
    }

    .headerRight {
      margin-left: 20px;
      li {
        height: 30px;
        width: 50px;
        transition: 0.3s ease-in-out;
        opacity: 0.8;
        margin-left: 1px;

        &:active {
          background: lighten(#53a269, 5%);
        }
      }

      span {
        font-size: 13px;
        font-weight: 600;
      }
    }
  }

  .title-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -35px;

    .search-block {
      margin-top: 40px;
      width: 140px;
    }

    h1 {
      //padding-bottom: 0px;
      font-size: 20px;
      margin-bottom: 10px;
    }
  }

  .sneakers {
    .card {
      padding: 10px 20px 10px 20px;
      width: 300px;
      height: 270px;
      border-radius: 30px;
    }

    .priceCard {
      display: flex;
      align-items: center;
      justify-content: space-between;

      b {
        margin-left: 2px;
      }

      div {
        display: flex;
        flex-direction: row;
      }
    }
  }

  .drawer {
    font-size: 11px;
    height: 70%;
  }
}

@keyframes smoothOpenBlock {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animDrawer {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateY(0);
  }
}
