.loginBtn {
  background-color: #e88b00;
  border-radius: 10px;
  padding: 2px 20px;
  border: none;
  transition: 0.5s ease-in-out;
  margin-left: 3px;

  &:hover {
    background-color: lighten($color: #f1ac43, $amount: 0);
  }

  &:active {
    background-color: lighten($color: #a4742d, $amount: 0);
  }

  .textBtn {
    font-size: medium;
    font-weight: 200;
    color: aliceblue;
  }
}

@media all and (max-width: 670px) {
  .loginBtn {
    padding: 5px 13px;
  }
}
